.header{
    background-image: url(../img/8\ 1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sec2{
    background-image: url(../img/bg-sec-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}  



*{
    font-family: Yekan Bakh
}
html{
    scroll-behavior: smooth;
}

#sec3{
    background-image: url(../img/bg-sec-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .bg-sec4{
    background-image: url(../img/bg-sec-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .bg-sec5{
    background-image: url(../img/bg-sec-5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .bg-sec6{
    background-image: url(../img/bg-sec-6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .bg-sec7{
    background-image: url(../img/bg-sec-7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


