.header{
    background-image: url(../img/8\ 1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: Bakh;
    src: url(../font/YekanBakh-Bold.ttf);
}

*{
    font-family: Yekan Bakh;
}